body
{
    font-family: "Helvetica Neue", Helvetica;
    /*background-color: #222425;*/
    background: #1c1e1f;
    color: rgb(200, 195, 188);
    display: flex;
    align-items: center;
}

p
{
    font-size: 0.8em;
}

a:link
{
    color: rgb(86, 169, 224);
    text-decoration: none;
}

a:hover
{
    color: rgb(116, 190, 240);
}

#container
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 570px;
}

#controls
{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 30px;
}

#combine-checkbox
{
    margin-top: 20px;
}

#checkbox-container label
{
    font-size: 0.8em;
}

#log-box
{
    width: 100%;
    resize: none;
    color: white;
    background-color: rgb(34, 36, 38);
    border-color: rgb(58, 62, 65);
    border-style: solid;
    border-width: 1px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

button
{
    width: 6em;
}